{
  "presets": [
    [
      "taro",
      {
        "framework": "react",
        "ts": true
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "taro-hooks",
        "camel2DashComponentName": false
      },
      "taro-hooks"
    ]
  ]
}
